version: '3.8'

services:
  flask_app:
    build: .
    container_name: parking_app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql-groupea5.alwaysdata.net
      - JWT_SECRET_KEY=your-secret-key-here
    depends_on:
      - postgres
    networks:
      - postgres
    restart: unless-stopped

  postgres:
    container_name: parking_postgres
    image: postgres
    environment:
      POSTGRES_USER: groupea5
      POSTGRES_PASSWORD: yasser0048919
      POSTGRES_DB: parking_db
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    container_name: parking_db
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
  pgadmin: